---
import Layout from '../layouts/Layout.astro';

import CardTech from '../components/CardTech.astro';
import ProfilePicture from '../components/ProfilePicture.astro';
import Projects from '../components/Projects.astro';
import Logo from '../components/Logo.astro';

import GithubIcon from '../components/icons/GithubIcon.astro';
import LinkedInIcon from '../components/icons/LinkedInIcon.astro';
import MailIcon from '../components/icons/MailIcon.astro';

const name = ["<Alejandro", "Guinot />"];
const role = "Junior Software Engineer";

const aboutMe = [
    "¡Hola! This is Alejandro, a Junior Software Engineer based in Spain. I ended my studies in Computer Engineering at Universitat Jaume I (Castellón de la Plana) with the Software Engineering specialization. I started my journey as a web developer working in a company that offers business IT solutions, where I expanded my knowledge and enhanced my abilities when writing code. My main expertise is backend web development using technologies like Express.js, Laravel and SQL databases.",
    "Currently, I am a web knowledge advisor of an association and, at the same time, I am building web applications that are fast and easy to interact with for both final users and developers.",
    "Also, I enjoy my free time both listening and playing music, and collecting card games.",
];

const myTechs = [
    { name: "Laravel", isMain: true },
    { name: "Inertia", isMain: true },
    { name: "React", isMain: true },
    { name: "PHP", isMain: true },
    { name: "Tailwind", isMain: true },
    { name: "Javascript", isMain: false },
    { name: "MySQL", isMain: false },
    { name: "Wordpress", isMain: false },
    { name: "Express", isMain: false },
    { name: "Python", isMain: false },
];
---

<Layout title="Home | guinotix">

	<div class="grid grid-cols-1 sm:grid-cols-2 place-items-center justify-center min-h-screen">
        <div class="flex flex-col items-center justify-center my-12 p-2">
		    <div class="text-4xl sm:text-5xl font-semibold">{name[0]}<br>{name[1]}</div>
		    <p class="py-3">{role}</p>
		    <div class="space-x-6">
		    	<a aria-label="mail" href="mailto:guinotix.dev@gmail.com" class="group inline-flex items-center hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-violet-500">
    	    	    <MailIcon />
    	    	</a>
    	    	<a aria-label="github" href="https://github.com/guinotix" class="group inline-flex items-center hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-violet-500">
    	    	    <GithubIcon />
    	    	</a>
    	    	<a aria-label="linkedin" href="https://www.linkedin.com/in/guinotix-dev" class="group inline-flex items-center hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-violet-500">
    	    	    <LinkedInIcon />
    	    	</a>
		    </div>
	    </div>
        <ProfilePicture />
    </div>

    <section id="about" class="mx-10 py-4">
        <h2 class="my-2 text-2xl font-semibold text-white">About me</h2>
        <div class="text-md leading-relaxed">
            {Array.from({ length: 3 }, (_, i) => i + 1).map((number) => (
                <p class="mt-2">{aboutMe[number-1]}</p>
            ))}
        </div>
    </section>

    <section id="techs" class="mx-10 py-16">
        <h2 class="mt-2 text-2xl font-semibold text-white">Technologies</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 mt-4">
            {myTechs.map((tech) => (
                <CardTech technology={tech.name} main={tech.isMain}>
                    <Logo name={tech.name} />
                </CardTech>
            ))}
		</div>
    </section>

    <section id="projects" class="mx-10 py-16">
        <h2 class="mt-2 text-2xl font-semibold text-white">Projects</h2>
		<p class="mt-2">Here I showcase some of the projects I have worked in:</p>
        <Projects />
    </section>
	
</Layout>
