---
import Logo from '@/components/ui/Logo.astro';
import ProjectInfoButton from '@/components/ui/ProjectInfoButton.astro';
import ProjectMainImage from '@/components/ui/ProjectMainImage.astro';
import Tooltip from '@/components/ui/Tooltip.astro';

import { getLangFromUrl, useTranslations } from '@/i18n/utils';

import type { Project } from '@/types/project';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const projects: Project[] = [
    {
        name: "index.projects.vswiss.title",
        info: "index.projects.vswiss.description",
        link: "",
        fallback: "",
        techs: ["Laravel", "Inertia", "React", "Tailwind"],
        img: "/vswiss_main.png",
        logo: "",
        alt: "vswiss project presentation"
    },
    {
        name: "index.projects.cncep.title",
        info: "index.projects.cncep.description",
        link: "https://cncep-2025.vercel.app/",
        fallback: "",
        techs: ["React", "Tailwind"],
        img: "",
        logo: "/cncep_logo.webp",
        alt: "CNCEP project presentation"
    },
    {
        name: "index.projects.mbp.title",
        info: "index.projects.mbp.description",
        link: "",
        fallback: "projects/musicbandpage",
        techs: ["Laravel", "Inertia", "React", "Tailwind", "Stripe", "Filament"],
        img: "/mbp_ex_port.png",
        logo: "",
        alt: "MBP project presentation"
    },
    {
        name: "index.projects.sailaway.title",
        info: "index.projects.sailaway.description",
        link: "",
        fallback: "projects/sailaway",
        techs: ["Laravel", "MySQL", "Tailwind"],
        img: "/sailaway/000.png",
        logo: "",
        alt: "Sailaway project presentation"
    },
]
---
<div class="mt-16 flex flex-col items-start gap-6 space-y-16">

    {projects.map((project) => (
        <div class="flex flex-col justify-center items-center">
            <ProjectMainImage project={project} />
            <div class="flex flex-col justify-center items-center">
                <h2 class="mt-2 text-2xl text-center font-semibold text-white">{t(project.name)}</h2>
                <p class="mt-4 leading-relaxed mx-8">{t(project.info)}</p>
            </div>
            <div class="mt-4 leading-relaxed">
                <ProjectInfoButton project={project}>
                    {t('index.projects.moreinfo')}
                </ProjectInfoButton>
            </div>
            <div class="mt-4 text-center">
                <p class="font-medium text-white">{t('index.projects.techs')}</p>
                <div class="flex flex-row place-content-center space-x-2">
                    {project.techs.map((tech) => (
                        <Tooltip label={tech}>
                            <Logo name={tech} />
                        </Tooltip>
                    ))}
                </div>
            </div>
        </div>
    ))}

</div>
