---
import Logo from '../components/Logo.astro';

const projects = [
    {
        name: "1st International Congress of Psychology Students (XVIII CNCEP UV)",
        info: "My most recent project! This is a landing page for an international charity conference done by the CEP-PIE (Colectivo de Estudiantes de Psicología). The CEP-PIE is the student representative body in which representatives of psychology students from the different centers of the Spanish university system participate, and I am being involved in the Department of Digital Spaces managing everything about the web, and one of the things I am proud of is helping with the building of this site from the foundation.",
        link: "",
        fallback: "https://cncep-2025.vercel.app/",
        techs: ["React", "Tailwind"],
        img: "/cncep_logo.webp",
        alt: "CNCEP presentation image"
    },
    {
        name: "Music Band Page",
        info: "This project is a full-stack web application I developed as a serious challenge. After Sailaway I decided to start one with more ambition for my future as a software developer. Music is one of my hobbies and I spend time looking for some records online so, why not building a project related to this? That's why I came with the idea of building an E-commerce platform powered with some functionalities and styles based on bands that I follow.",
        link: "",
        fallback: "/projects/musicbandpage",
        techs: ["Laravel", "Inertia", "React", "Tailwind", "Stripe", "Filament"],
        img: "/mbp_ex_port.png",
        alt: "MBP project presentation"
    },
    {
        name: "Sailaway",
        info: "Sailaway is a nearly identical adaptation of my final degree project, which I have done in 2023. Due to implementation reasons of that project, the original one is not visible, and that's why I made a replica as faithful as possible, omitting things like brand image and some special features.",
        link: "",
        fallback: "/projects/sailaway",
        techs: ["Laravel", "MySQL", "Tailwind"],
        img: "/sailaway/000.png",
        alt: "Sailaway project presentation"
    },
]
---
<div class="mt-4 grid grid-cols-1 items-start gap-6 space-y-16">

    {projects.map((project) => (
        <div class="flex flex-col justify-center items-center">
            <img class="rounded-2xl w-1/4 h-1/4" src={project.img} alt={project.alt}>
            <div class="flex flex-col justify-center items-center">
                <h2 class="mt-2 text-2xl font-semibold text-white">{project.name}</h2>
                <p class="mt-4 leading-relaxed mx-8">{project.info}</p>
            </div>
            <p class="mt-4 leading-relaxed">
                <button class="inline-flex items-center px-4 py-2 bg-violet-800 border border-transparent rounded-md font-semibold text-base text-white uppercase tracking-widest hover:bg-violet-700 focus:bg-violet-700 active:bg-violet-900 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2 transition ease-in-out duration-150 hover:outline hover:outline-2 hover:outline-violet-500">
                    <a href={project.fallback}>
                        More info...
                    </a>
                </button>
            </p>
            <div class="mt-4 text-center">
                <p class="font-medium text-white">Technologies used:</p>
                <div class="flex flex-row place-content-center space-x-2">
                    {project.techs.map((tech) => (
                        <Logo name={tech} />
                    ))}
                </div>
            </div>
        </div>
    ))}

</div>
